@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-sans;
}

table.basic {
  @apply w-full;
}
table.basic thead tr td{
  @apply text-black bg-white text-lg
}

table.basic thead tr:first-child td:first-child {
  @apply rounded-tl-lg; /* Esquina superior izquierda */
}

table.basic thead tr:first-child td:last-child {
  @apply rounded-tr-lg; /* Esquina superior derecha */
}
table.basic tr td{
  @apply border-b-2 p-1
}